<img src="/img/home3.jpg" class="bg" style="z-index: -1" />
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Home</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="\training">Training</a>
                <a class="nav-link" href="\logout">Logout</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover mb-auto">
        <h1 class="cover-heading">Hello Username!</h1>
        <p class="lead">
            Navigate to your training sessions to start keeping track of your
            progresses
        </p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>
</div>
