<img src="/img/home.jpg" class="bg" style="z-index: -1" />
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-8">
        <div style="color: #333" class="inner">
            <h3 class="masthead-brand">Home</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="/home/training">Training</a>
                <a class="nav-link" href="/logout">Logout</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Hello Username!</h1>
        <div
            style="
                background-color: rgba(255, 255, 255, 0.301);
                border-radius: 3em;
                text-align: center;
            "
        >
            <p style="padding: 3px" class="lead">
                Navigate to your training sessions to start keeping track of
                your progresses
            </p>
        </div>
    </main>
</div>
