<form action="/login" method="POST">
    <label>email</label>
    <input type="text" name="email" placeholder="email" />
    <label>password</label>
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="Submit" />
</form>
