<form type="POST" action="/register">
    <label>email</label>
    <input type="text" name="email" placeholder="email" />
    <label>password</label>
    <input type="password" name="password" placeholder="email" />
</form>
