<div class="list-group" id="list-tab" role="tablist">
    <a
        class="list-group-item list-group-item-action active"
        id="list-day1-list"
        data-toggle="list"
        href="#list-day1"
        role="tab"
        aria-controls="day1"
        >2020-10-10</a
    >
    <a
        class="list-group-item list-group-item-action"
        id="list-day2-list"
        data-toggle="list"
        href="#list-day2"
        role="tab"
        aria-controls="day2"
    >
        2020-10-12
    </a>
    <a
        class="list-group-item list-group-item-action"
        id="list-day3-list"
        data-toggle="list"
        href="#list-day3"
        role="tab"
        aria-controls="day3"
    >
        2020-10-14
    </a>
    <a
        class="list-group-item list-group-item-action"
        id="list-day4-list"
        data-toggle="list"
        href="#list-day4"
        role="tab"
        aria-controls="day4"
    >
        2020-10-16
    </a>
</div>
