<footer style="grid-row-start: 2; grid-row-end: 3; z-index: 10">
  <div class="text-center py-3">
    <p class="footer-text">
      <strong>© 2020 Copyright: Kevin De Notariis</strong>
    </p>
  </div>
</footer>
