<div
  class="modal fade"
  id="modalFormDeleteDay"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalFormDeleteDayTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #333">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFormDeleteDayTitle">Day deleting</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="deleteDay">
        <div class="modal-body">
          <p>Are you sure you want to delete a whole training day?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <input type="submit" value="Confirm" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
